body {
  background-color: steelblue;
}

div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: lavender;
}

img {
  margin-top: 20px;
  padding: 10px;
  width: 40vw;
  height: 40vh;
}

.wp-logo {
  padding: 1;
  animation: wp-logo-spin infinite 20s linear;
}

.react-logo {
  padding: 1;
  animation: react-logo-spin infinite 20s linear;
}

@keyframes wp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
